<div data-controller="show-league-button" class="relative">

  <div data-show-league-button-target="button">
    <!-- Choix du Peloton -->
    <div class="hidden choice-leagues w-full" style="background-color: white" data-show-league-button-target="link">
      <div class="pr-3" data-action="click->show-league-button#show">
        <p class="text-end"><i class="fas fa-times"></i></p>
      </div>
      <div>
        <% @my_leagues.each do |league| %>
          <%= link_to league_path(league) do %>
            <div class="flex place-content-center">
              <div class="flex items-center justify-around my-2">
                <%= cl_image_tag league.logo.key, class: "logo-league-bis" %>
                <p class="pl-3"><%= league.title %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- En-tête avec la Ligue -->
  <div class="title flex flex-col items-center relative">
    <h1>Classement (Mis à jour le 19/11/2022 12h)</h1>
    <div class="flex justify-around items-center mb-3">
      <!-- Bouton Sélection du Peloton -->
      <% if @my_leagues.count > 1 %>
        <div class="button-league mr-3" data-action="click->show-league-button#show">
          <p><i class="fas fa-chevron-up"></i></p>
          <p><i class="fas fa-chevron-down"></i></p>
        </div>
      <% end %>
      <%= cl_image_tag @league.logo.key, class: "logo-league" %>
      <h2 class="ml-3"><%= @league.title %></h2>
    </div>
  </div>

  <!-- Link to different rankings -->
  <% if Time.now > @start_time %>
    <div class="menu">
      <%= link_to league_path(@league, category: nil), class: (params[:category] == nil ? "menu-active" : "menu-disactive") do %>
        <p class="text-center">GENERAL</p>
      <% end %>
      <div class="flex justify-around mt-9 mb-6">
        <% Boat::BOATCLASSES.each do |boat_class| %>
          <%= link_to league_path(@league, category: boat_class), class: (params[:category] == boat_class ? "menu-active" : "menu-disactive") do %>
            <p><%= boat_class %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if Time.now <= @start_time %>
    <div class="info-user">
      <i class="fa-solid fa-circle-info"></i>
      <p>Tu pourras voir les paris des autres joueurs lorsque la course sera lancée !</p>
    </div>
  <% end %>

  <% if @users.select {|user| user.first == current_user}.empty? %>
    <div class="info-user">
      <div class="warning-user">
        <i class="fas fa-exclamation-triangle"></i>
        <p><strong>Pour apparaître dans la liste des joueurs, tu dois avoir complété tous tes paris !</strong></p>
      </div>
    </div>
  <% end %>

  <!-- Ranking -->
  <% @users.each_with_index do |user, index| %>
    <div data-controller="show-bets">
      <% unless params[:category].nil? %>
        <div class="flex items-center justify-center">
      <% end %>
        <div class="flex items-center justify-around">
          <% if user.first == current_user %>
            <div class="ranking-card ranking-card-user flex justify-between items-center">
          <% else %>
            <div class="ranking-card flex justify-between items-center">
          <% end %>
              <% if Time.now > @start_time %>
                <p><strong><%= index + 1 %></strong></p>
              <% end %>
              <div>
                <p><%= user.first.first_name %> <%= user.first.last_name %></p>
              </div>
              <% if Time.now > @start_time %>
                <div class="ranking-card-points flex items-center">
                  <p class="score"><%= user.last %></p>
                  <p>pts</p>
                  <% if params[:category].nil? %>
                    <p class="ml-4" data-action="click->show-bets#show"><i class="fas fa-chevron-down"></i></p>
                  <% else %>
                    <p class="ml-4" data-action="click->show-bets#show"><i class="fas fa-chevron-right"></i></p>
                  <% end %>
                </div>
              <% end %>
            </div>
        </div>
        <!-- Bets -->
        <% if Time.now > @start_time %>
          <% if params[:category].nil? %>
            <div class="not-showed user-bets" data-show-bets-target="link">
              <% Boat::BOATCLASSES.each do |boat_class| %>
                <div class="user-bet">
                  <div>
                    <h3><strong><%= boat_class %> - <%= user.first.display_score_by_category(boat_class) %> pts</strong></h3>
                    <% unless user.first.bets_by_category(boat_class).empty? %>
                      <% user.first.bets_by_category(boat_class).each do |bet| %>
                        <p><%= bet.position%>. <em><%= bet.boat.name %></em> (<%= bet.boat.result.result_position ? bet.boat.result.result_position : "Ab." %>)</p>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="flex justify-around">
              <div class="not-showed flex" data-show-bets-target="link">
                <% unless user.first.bets_by_category(params[:category]).empty? %>
                  <% user.first.bets_by_category(params[:category]).each do |bet| %>
                    <div class="user-bet-solo">
                      <p><%= bet.position%>. <em><%= bet.boat.name %></em> (<%= bet.boat.result.result_position ? bet.boat.result.result_position : "Ab." %>)</p>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
