<h1 class="text-center my-3"><%= @league.title %></h1>

<%# <div class="container"> %>


<div class="bets-user">
  <h2 class='bet-user text-center'><%= @league.user.first_name %> <%= @league.user.last_name %></h2>
  <h3><strong><%= @league.user.display_score_total %></strong></h3>
  <div class="user-bets">
    <% Boat::BOATCLASSES.each do |boat_class| %>
      <div class="user-bet">
        <div>
          <h2><strong><%= boat_class %></strong></h2>
          <h3><strong><%= @league.user.display_score_by_category(boat_class) %></strong></h3>
          <% unless @bets.includes(:boat).where(user: @league.user, boat: { category: boat_class }).empty? %>
            <% @bets.includes(:boat).where(user: @league.user, boat: { category: boat_class }).sort_by(&:position).each do |bet| %>
              <p><%= bet.position%>. <em><%= bet.boat.name %></em></p>
            <% end %>
            <% else %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% @admissions.each do |admission| %>
  <div class="bets-user">
    <h2 class='bet-user text-center'><%= admission.user.first_name %> <%= admission.user.last_name %></h2>
    <h3><strong><%= admission.user.display_score_total %></strong></h3>
    <div class="user-bets">
      <% Boat::BOATCLASSES.each do |boat_class| %>
        <div class="user-bet">
          <div>
            <h2><strong><%= boat_class %></strong></h2>
            <h3><strong><%= admission.user.display_score_by_category(boat_class) %></strong></h3>
            <% unless @bets.includes(:boat).where(user: admission.user, boat: { category: boat_class }).empty? %>
              <% @bets.includes(:boat).where(user: admission.user, boat: { category: boat_class }).sort_by(&:position).each do |bet| %>
                <p><%= bet.position%>. <em><%= bet.boat.name %></em></p>
              <% end %>
              <% else %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
