<h1>Mes paris !</h1>

<div class="cards-bets">

  <div class="card-bet" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("DSC05013_300x400.jpg")%>')">
    <div>
      <h2><strong>Ultim</strong></h2>
      <% unless @ultims.empty? %>
        <% @ultims.each do |ultim| %>
          <p><%= ultim.position%>. <em><%= ultim.boat.name %></em> - <%= ultim.boat.skipper_last_name %> <%= ultim.boat.skipper_first_name %></p>
        <% end %>
        <div><%= link_to "Je modifie", bets_change_path(category: "Ultim"), class: "btn-bet" if Time.now < @start_time %></div>
      <% else %>
        <%= link_to "Je parie !", new_bet_path(category: "Ultim"), class: "btn-bet" if Time.now < @start_time %>
      <% end %>
    </div>
  </div>

  <div class="card-bet" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("DSC05125_300x400.jpg")%>')">
    <div>
      <h2><strong>IMOCA</strong></h2>
      <% unless @imocas.empty? %>
        <% @imocas.each do |imoca| %>
          <p><%= imoca.position%>. <em><%= imoca.boat.name %></em> - <%= imoca.boat.skipper_last_name %> <%= imoca.boat.skipper_first_name %></p>
        <% end %>
        <div><%= link_to "Je modifie", bets_change_path(category: "IMOCA"), class: "btn-bet" if Time.now < @start_time %></div>
      <% else %>
        <%= link_to "Je parie !", new_bet_path(category: "IMOCA"), class: "btn-bet" if Time.now < @start_time %>
      <% end %>
    </div>
  </div>

  <div class="card-bet" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("DSC05145_300x400.jpg")%>')">
    <div>
      <h2><strong>Ocean Fifty</strong></h2>
      <% unless @ocean_fifties.empty? %>
        <% @ocean_fifties.each do |ocean_fifty| %>
          <p><%= ocean_fifty.position%>. <em><%= ocean_fifty.boat.name %></em> - <%= ocean_fifty.boat.skipper_last_name %> <%= ocean_fifty.boat.skipper_first_name %></p>
        <% end %>
        <%= link_to "Je modifie", bets_change_path(category: "Ocean Fifty"), class: "btn-bet" if Time.now < @start_time %>
      <% else %>
        <%= link_to "Je parie !", new_bet_path(category: "Ocean Fifty"), class: "btn-bet" if Time.now < @start_time %>
      <% end %>
    </div>
  </div>

  <div class="card-bet" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("DSC05139_300x400.jpg")%>')">
    <div>
      <h2><strong>Class 40</strong></h2>
      <% unless @class_40s.empty? %>
        <% @class_40s.each do |class_40| %>
          <p><%= class_40.position%>. <em><%= class_40.boat.name %></em> - <%= class_40.boat.skipper_last_name %> <%= class_40.boat.skipper_first_name %></p>
        <% end %>
        <%= link_to "Je modifie", bets_change_path(category: "Class 40"), class: "btn-bet" if Time.now < @start_time %>
      <% else %>
        <%= link_to "Je parie !", new_bet_path(category: "Class 40"), class: "btn-bet" if Time.now < @start_time %>
      <% end %>
    </div>
  </div>

  <div class="card-bet" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("DSC05296_300x400.jpg")%>')">
    <div>
      <h2><strong>Rhum Mono</strong></h2>
      <% unless @rhum_monos.empty? %>
        <% @rhum_monos.each do |rhum_mono| %>
          <p><%= rhum_mono.position%>. <em><%= rhum_mono.boat.name %></em> - <%= rhum_mono.boat.skipper_last_name %> <%= rhum_mono.boat.skipper_first_name %></p>
        <% end %>
        <%= link_to "Je modifie", bets_change_path(category: "Rhum Mono"), class: "btn-bet" if Time.now < @start_time %>
      <% else %>
        <%= link_to "Je parie !", new_bet_path(category: "Rhum Mono"), class: "btn-bet" if Time.now < @start_time %>
      <% end %>
    </div>
  </div>

  <div class="card-bet" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("DSC05092_300x400.jpg")%>')">
    <div>
      <h2><strong>Rhum Multi</strong></h2>
      <% unless @rhum_multis.empty? %>
        <% @rhum_multis.each do |rhum_multi| %>
          <p><%= rhum_multi.position%>. <em><%= rhum_multi.boat.name %></em> - <%= rhum_multi.boat.skipper_last_name %> <%= rhum_multi.boat.skipper_first_name %></p>
        <% end %>
        <%= link_to "Je modifie", bets_change_path(category: "Rhum Multi"), class: "btn-bet" if Time.now < @start_time %>
      <% else %>
        <%= link_to "Je parie !", new_bet_path(category: "Rhum Multi"), class: "btn-bet" if Time.now < @start_time %>
      <% end %>
    </div>
  </div>

</div>
