<div class="border border-1 mx-3 my-3 pb-3 px-3">
  <h1>Mes Ligues (<%= @my_leagues.count %>)</h1>
  <div class="grid grid-cols-4 gap-5">
    <% unless @my_leagues.empty? %>
      <% @my_leagues.each do |league| %>
        <% if league.user == current_user || league.admissions.where(user: current_user).first.status == "accepted" %>
          <%= link_to league_path(league) do %>
            <%= cl_image_tag league.logo.key, class: "logo-league" %>
            <h2><%= league.title %></h2>
          <% end %>
        <% elsif league.admissions.where(user: current_user).first.status == "pending" %>
          <%= cl_image_tag league.logo.key, class: "logo-league opacity-50" %>
          <h2><%= league.title %></h2>
        <% else %>
          <%= cl_image_tag league.logo.key, class: "logo-league bg-sky-500/50" %>
          <h2><%= league.title %></h2>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="border border-1 mx-3 my-3 pb-3 px-3">
  <h1>Demandes d'adhésion à mes ligues (<%= @requests.count %>)</h1>
  <div class="grid grid-cols-4 gap-5">
    <% unless @requests.empty? %>
      <% @requests.each do |request| %>
        <h3><%= request.league.title %> <%= request.user.first_name %> <%= request.user.last_name %></h3>
        <div>
          <%= link_to admission_accept_path(request), method: :patch, class: "btn-join" do %>
            <i class="fas fa-check-circle"></i>
          <% end %>
        </div>
        <div>
          <%= link_to admission_reject_path(request), method: :patch, class: "btn-quit" do %>
            <i class="fas fa-times-circle"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="flex justify-around my-5">
  <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "btn-league" %>
</div>
