<div class="container">
  <% @leagues.each do |league| %>
    <div class="league d-flex align-items-center">
      <h2><%= league.title %></h2>
      <% if league.admissions.where(user: current_user).present? %>
        <%= link_to "Quitter", admissions_delete_path(admission: league.admissions.where(user: current_user).first), class: "btn-quit" %>
      <% elsif league.user != current_user %>
        <%= simple_form_for [league, @admission] do |f| %>
          <%= f.submit "Rejoindre", class: "btn-join" %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="flex justify-around my-5">
    <%= link_to "Créer ma ligue", new_league_path, class: "btn-league" %>
  </div>
</div>
