<div class="navbar-top flex justify-between items-center">
  <div class="navbar-top-left">
    <%= link_to "Accueil", root_path %>
  </div>

  <div class="navbar-top-right flex justify-between">
    <% if user_signed_in? %>
      <%= link_to "Mes paris", bets_path %>
      <%= link_to "Mes ligues", leagues_path %>
      <%= link_to "Bateaux", boats_path %>
      <%= link_to "Mon compte", users_dashboard_path %>
    <% else %>
        <%= link_to "Se connecter", new_user_session_path %>
    <% end %>
  </div>
</div>
