<div class="card-betting" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("DSC05145_600x800.jpg")%>')">

  <div>
    <h2>Ocean Fifty</h2>
    <%= form_with url: bets_path(category: params[:category]), method: :post do |f| %>
      <div class="my-3"><%= f.select :skipper_1, Boat::OCEANFIFTY, prompt: 'Vainqueur' %></div>
      <div class="my-3"><%= f.select :skipper_2, Boat::OCEANFIFTY, prompt: 'Deuxième' %></div>
      <div class="my-3"><%= f.select :skipper_3, Boat::OCEANFIFTY, prompt: 'Troisième' %></div>
      <div class="my-3"><%= f.submit "Bon vent !", class: "btn btn-bet" %></div>
    <% end %>
  </div>

</div>
