<h1>Résultats</h1>

<div class="cards my-4">
  <% Boat::BOATCLASSES.each do |category| %>
    <%= link_to results_path(category: category) do %>
      <div class="<%= (params[:category] == category ? "menu-active" : "menu-disactive") %>">
        <%= category %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="container my-5 grid grid-cols-3">
  <% @boats.each do |boat| %>
    <div class="m-3 card-result">
      <div>
        <% unless boat.result.nil? %>
          <p><strong><%= boat.result.result_position %></strong></p>
        <% end %>
      </div>
      <div>
        <span><strong><%= boat.name %></strong></span>
      </div>
      <div>
        <p><%= boat.skipper_last_name %> <%= boat.skipper_first_name%></p>
      </div>
    </div>
  <% end %>
</div>
