
<div class="home banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%=image_url("DSC05028.JPG")%>')">
  <div class="banner-top">
    <h1>Bienvenue sur le site des paris de la Route du Rhum !</h1>

    <div class="timer-card flex justify-center items-center">
      <div class="timer-icone">
        <p><i class="fas fa-hourglass-half"></i></p>
      </div>
      <div class="timer-time my-10">
        <div data-controller="countdown-start" data-countdown-start-date-value="Nov 08, 2022 14:02:00"></div>
      </div>
    </div>

    <% if user_signed_in? %>
      <% if current_user.bets.length == 18 %>
        <p class="home-body">Tes paris sont faits mais il te reste quelques jours pour changer...</p>
        <p><%= link_to "Je vérifie mes paris", bets_path, class: "btn-main my-4" %></p>
      <% else %>
        <p class="home-body">Tu n'as pas encore fait tous tes paris, il te reste encore quelques jours pour le faire...</p>
        <p><%= link_to "Je parie", bets_path, class: "btn-main my-4" %></p>
      <% end %>
      <% if League.where_am_i(current_user).empty? %>
        <p class="home-body">Tu ne peux pas encore comparer tes résultats car tu n'as pas encore rejoint de Ligue</p>
        <p><%= link_to "Je rejoins une Ligue", leagues_path, class: "btn-main my-4" %></p>
      <% end %>
    <% else %>
      <div class="my-10">
        <p><%= link_to "Se connecter", new_user_session_path, class: "btn-main my-4" %></p>
      </div>
      <div class="my-10">
        <p><%= link_to "S'inscrire", new_user_registration_path, class: "btn-main my-4" %></p>
      </div>
    <% end %>
</div>
