<div class="cards my-4">
  <%= link_to boats_path(category: "Ultim") do %>
    <div class="card-class <%= (params[:category] == "Ultim" ? "act" : "dis") %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("DSC05013_300x400.jpg")%>')">
      Ultim
    </div>
  <% end %>

  <%= link_to boats_path(category: "IMOCA") do %>
    <div class="card-class <%= (params[:category] == "IMOCA" ? "act" : "dis") %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("DSC05125_300x400.jpg")%>')">
      IMOCA
    </div>
  <% end %>

  <%= link_to boats_path(category: "Ocean Fifty") do %>
    <div class="card-class <%= (params[:category] == "Ocean Fifty" ? "act" : "dis") %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("DSC05145_300x400.jpg")%>')">
      Ocean Fifty
    </div>
  <% end %>

  <%= link_to boats_path(category: "Class 40") do %>
    <div class="card-class <%= (params[:category] == "Class 40" ? "act" : "dis") %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("DSC05139_300x400.jpg")%>')">
      Class 40
    </div>
  <% end %>

  <%= link_to boats_path(category: "Rhum Mono") do %>
    <div class="card-class <%= (params[:category] == "Rhum Mono" ? "act" : "dis") %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("DSC05296_300x400.jpg")%>')">
      Rhum Mono
    </div>
  <% end %>

  <%= link_to boats_path(category: "Rhum Multi") do %>
    <div class="card-class <%= (params[:category] == "Rhum Multi" ? "act" : "dis") %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("DSC05092_300x400.jpg")%>')">
      Rhum Multi
    </div>
  <% end %>
</div>

<div class="flex justify-around">
  <div class="container my-5">
    <% @boats.each do |boat| %>
      <div class="card-boat flex items-center">
        <span><strong><%= boat.name %></strong> - <%= boat.skipper_last_name %> <%= boat.skipper_first_name%></span>
        <%= link_to boat.url_link, target:"_blank" do %>
          <i class="fa-solid fa-circle-info"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
